body {
    margin: 0;
    padding: 20px;
}

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%)
}

body {
    background-color: rgb(50, 50, 50);
}