html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;

}

.title-text {
  color: darkblue;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#p5-canvas {
  z-index: -1;
}